@keyframes album {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes album-title {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes album-circles {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateY(50px);
  }
}
