/* INDEX & ABOUT */
  @keyframes slideUp {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      transform: translateY(40%);
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes scale {
    from, to {
      transform: scale(1);
    }
    70% {
      transform: scale(1.3, 0.8);
    }
    80% {
      transform: scale(1);
    }
    90% {
      transform: scale(1.1, 0.9);
    }
    from, to {
      color: white;
    }
    50% {
      color: #09d9ff;
    }
  }

/* CONTACT */
  @keyframes name {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    60% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes email {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    70% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes message {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    72% {
      opacity: 0;
      transform: translateY(5%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes text {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes submit {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    80% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes map {
    0% {
      transform: translateX(-7%);
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    60% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes slideRightDelay {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    63% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes slideUpDelay {
    0% {
      transform: translatey(100%);
      opacity: 0;
    }
    20% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideDown {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    40% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

/* SMOOTHSTATE (not working) */

  .m-scene .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }
  .m-scene .scene_element--slideUp {
    animation-name: slideUp;
  }
  .m-scene .scene_element--name {
    animation-name: name;
  }
  .m-scene .scene_element--email {
    animation-name: email;
  }
  .m-scene .scene_element--message {
    animation-name: message;
  }
  .m-scene .scene_element--text {
    animation-name: text;
  }
  .m-scene .scene_element--submit {
    animation-name: submit;
  }
  .m-scene .scene_element--map {
    animation-name: map;
  }
  .m-scene .scene_element--fadeIn {
    animation-name: fadeIn;
  }
  .m-scene .scene_element--slideRight {
    animation-name: slideRight;
  }

  .m-scene .is-exiting .scene-element {
    animation-direction: reverse;
  }
