/* mobile */

/* global */
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: "Cutive Mono";
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
a:after {
  text-decoration: none;
}
p {
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  letter-spacing: -0.1em;
}

body {
  display: flex;
  overflow-x: hidden
}
* {
  box-sizing: border-box;
}

/* nav */

.menu {
  width: 23px;
  height: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  transform: scale(0.8);
}
.menu .bit-1::before {
  content: '';
  left: 0.5em;
  top: 0.7em;
  position: absolute;
  width: 1em;
  transform-origin: left bottom;
  height: 0.35em;
  background: white;
  transition: transform 0.3s, top 0.3s;
  border-radius: 5px
}
.menu .bit-1::after {
  content: '';
  position: absolute;
  right: 0.5em;
  top: 0.7em;
  width: 1em;
  transform-origin: right bottom;
  height: 0.35em;
  background: white;
  transition: transform 0.3s, top 0.3s;
  border-radius: 5px
}
.menu .bit-2 {
  position: absolute;
  width: 1.7em;
  top: 50%;
  left: 50%;
  height: 0.35em;
  background: white;
  transform: translate(-50%, -50%);
  transition: transform 0.3s 0.3s, width 0.3s 0.6s;
  border-radius: 5px
}
.menu .bit-3::before {
  content: '';
  position: absolute;
  bottom: 0.7em;
  left: 0.5em;
  width: 1em;
  transform-origin: left top;
  height: 0.35em;
  background: white;
  transition: transform 0.3s, bottom 0.3s;
  border-radius: 5px
}
.menu .bit-3::after {
  content: '';
  position: absolute;
  bottom: 0.7em;
  right: 0.5em;
  width: 1em;
  transform-origin: right top;
  height: 0.35em;
  background: white;
  transition: transform 0.3s, bottom 0.3s;
  border-radius: 5px
}
.menu.open .bit-1:before {
  top: 0.6em;
  width: 1.2em;
  transform: rotate(45deg);
  transform-origin: left bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
  background: #FFDCEA;
}
.menu.open .bit-1:after {
  top: 0.6em;
  width: 1.2em;
  transform: rotate(-45deg);
  transform-origin: right bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
  background: #FFDCEA;
}
.menu.open .bit-2 {
  width: 0.3em;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: transform 0.3s 0.3s, width 0.3s;
  background: #FFDCEA;
}
.menu.open .bit-3:before {
  bottom: 0.6em;
  width: 1.2em;
  transform: rotate(-45deg);
  transform-origin: left top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
  background: #FFDCEA;
}
.menu.open .bit-3:after {
  bottom: 0.6em;
  width: 1.2em;
  transform: rotate(45deg);
  transform-origin: right top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
  background: #FFDCEA;
}
.top-nav {
  position: fixed;
  height: 50px;
  align-items: center;
  width: 100%;
  display: flex;
  background: #0f0f0f;
  z-index: 1001101010;
}

nav {
  z-index: 999999;
  color: black;
  width: 100%;
}
.top-nav {
  background: rgba(0,0,0,0.4);
  height: 60px;
  letter-spacing: -0.15em;
  color: white;
  display: flex;
  z-index: 123123132;
  align-items: center;
}

.top-nav h1 {
  width: 85%;
  padding-left: 15px;
}

.nav-logo-div {
  width: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}
.nav-logo {
  height: 50px;
  padding-left: 20px;
}
.nav-toggle-div {
  width: 50px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  padding-right: 25px;
}
.nav-toggle {
  width: 45px;
  background: white;
}
.nav-expand {
  display: none;
  margin-top: 60px;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.nav-expand-text {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
}
.nav-expand-text a {
  transform: scale(1.2);
  padding: 0px 30px;
  color: white;
}
.bug-nav {
  margin-top: -60px;
  z-index: 12312312122312;
}
.bug-nav2 {
  padding-bottom: 50px;
  z-index: 123123123123
}

/* album */

.music {
  width: 100%;
  height: 600px;
  position: relative;
}

.album-div {
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
  color: white;
  justify-content: center;
}

.album-div h6 {
  width: 100%;
  text-align: center;
}

.album {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.album img {
  width: 200px;
  margin: auto;
}

.album-icon {
  width: 70px;
  height: 70px;
  padding: 20px;
}

.album-bg {
  background-image: url(images/band2.png);
  background-size: cover;
  background-position: center;
  display: block;
  filter: blur(10px) brightness(3%);
  -webkit-filter: blur(10px) brightness(80%);
  height: 600px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -9999;
  transform: scale(1.1);
}


/* tour */
.tour {
  background: #FFDCEA;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.tour h3 {
  width: 100%;
  padding: 50px 0px 0px 0px;
}

.tour p {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
  line-height: 2.5em;
}

.merch {
  width: 150px;
  height: 150px;
  margin: 30px 10px -20px;
  border-radius: 20px;
}

/* about */

.about {
  height: 700px;
  padding-bottom: 100px
}
.about-bg {
  background-image: url(images/full.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  display: block;
  filter: blur(10px) brightness(3%);
  -webkit-filter: blur(10px) brightness(80%);
  height: 800px;
  left: 0;
  right: 0;
  z-index: -88;
  width: auto;
  transform: scale(1.1);
}

.about-box {
  color: white;
  text-align: center;
  padding: 50px;
  line-height: 2em;
}

.about-box h3 {
  padding-bottom: 20px
}

.about-box p {
  font-size: 0.8em;
}

.card-box {
  background: green;
  height: 00px;
}




.work {
  height: 300px;
  background: #B03939;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 0.6em;
}
